<div class="container">
<div class="col">
  <div class="row">
  <h2>Riepilogo Equipaggiamenti</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Upgrades left</th>
      <th>Type</th>
      <th>Throwable dice</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let equipaggiamento of equipaggiamenti">
      <td>{{equipaggiamento.name}}</td>
      <td>{{equipaggiamento.upgradesMax-equipaggiamento.equippedTitaniti.length}}</td>
      <td>{{equipaggiamento.type}}</td>
      <td>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let azione of equipaggiamento.azioni">
            <td>
          <tr style="color:red">{{azione.type}}</tr>
          <tr *ngIf="azione.combination.ORANGE">{{"ORANGE:"+azione.combination.ORANGE}}</tr>
          <tr *ngIf="azione.combination.BLACK">{{"BLACK:"+azione.combination.BLACK}}</tr>
          <tr *ngIf="azione.combination.BLUE">{{"BLUE:"+azione.combination.BLUE}}</tr>
          </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <button *ngIf="equipaggiamento.upgradesMax-equipaggiamento.equippedTitaniti.length>0" class="btn btn-danger" (click)="DettagliPotenziamento(equipaggiamento)">Potenzia</button>
        <button  *ngIf="equipaggiamento.equippedTitaniti.length>0"class="btn btn-dark" (click)="DettagliDepotenziamento(equipaggiamento)">Depotenzia</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<button class="btn btn-success" (click)="TornaGestisciPersonaggio()">TornaGestisciPersonaggio</button>
</div>
