<div class="container">
<div class="col">
  <div class="row">
  <h2>Riepilogo Equipaggiamenti</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Upgrades left</th>
      <th>Type</th>
      <th>Throwable dice</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let equipaggiamento of equipaggiamenti">
      <td>{{equipaggiamento.name}}</td>
      <td>{{equipaggiamento.upgrades}}</td>
      <td>{{equipaggiamento.type}}</td>
      <td>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let attacco of equipaggiamento.attacchi">
            <td>
          <tr style="color:red">{{attacco.type}}</tr>
          <tr *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
          <tr *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
          <tr *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
          </td>
          </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let difesa of equipaggiamento.difese">
            <td>
          <tr style="color:red">{{difesa.type}}</tr>
          <tr *ngIf="difesa.combination.ORANGE">{{"ORANGE:"+difesa.combination.ORANGE}}</tr>
          <tr *ngIf="difesa.combination.BLACK">{{"BLACK:"+difesa.combination.BLACK}}</tr>
          <tr *ngIf="difesa.combination.BLUE">{{"BLUE:"+difesa.combination.BLUE}}</tr>
          </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <button *ngIf="equipaggiamento.upgrades" class="btn btn-danger" (click)="DettagliPotenziamento(equipaggiamento)">Potenzia</button>
        <button *ngIf="equipaggiamento.equippedTitaniti.length>0"class="btn btn-dark" (click)="DettagliDepotenziamento(equipaggiamento)">Depotenzia</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<button class="btn btn-success" (click)="TornaGestisciPersonaggio()">TornaGestisciPersonaggio</button>
</div>
