<div class="container">
<div class="col">
  <div clas="row">
  <h2>Equipaggiamento Selezionato</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Upgrades left</th>
      <th>Type</th>
      <th>Dice throwable</th>
    </tr>
    </thead>
    <tbody>
      <td>{{equipaggiamento.name}}</td>
      <td>{{equipaggiamento.upgrades}}</td>
      <td>{{equipaggiamento.type}}</td>
      <td>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let attacco of equipaggiamento.attacchi">
            <td>
          <tr style="color:red">{{attacco.type}}</tr>
          <tr *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
          <tr *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
          <tr *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
          </td>
          </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let difesa of equipaggiamento.difese">
            <td>
          <tr style="color:red">{{difesa.type}}</tr>
          <tr *ngIf="difesa.combination.ORANGE">{{"ORANGE:"+difesa.combination.ORANGE}}</tr>
          <tr *ngIf="difesa.combination.BLACK">{{"BLACK:"+difesa.combination.BLACK}}</tr>
          <tr *ngIf="difesa.combination.BLUE">{{"BLUE:"+difesa.combination.BLUE}}</tr>
          </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tbody>
  </table>
</div>
  <div class="row">
  <h2>Titaniti compatibili</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tipo Titanite</th>
      <th>Available</th>
      <th>Looted</th>
      <th>Costo Anime</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let titanite of titaniti">
      <td>{{titanite.diceColor}}</td>
      <td>{{titanite.available}}</td>
      <td>{{titanite.looted}}</td>
      <td>{{titanite.anime}}</td>
      <td *ngIf="titanite.available > 0; else titanitenondisponibile"><button   class="btn btn-danger" (click)="Usa(titanite)">Usa</button></td>
      <ng-template #titanitenondisponibile>
        <td style="color:red">Questo tipo di titanite è esaurito</td>
      </ng-template>
    </tr>
    </tbody>
  </table>
  </div>
  <button class="btn btn-success" (click)="TornaRiepilogoEquipaggiamenti()">TornaRiepilogoEquipaggiamenti</button>
</div>
</div>
