<div class="container">
<div class="col">
  <div class="row">
  <h2>Equipaggiamento Selezionato</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Upgrades left</th>
      <th>Type</th>
      <th>Dice throwable</th>
    </tr>
    </thead>
    <tbody>
    <td>{{equipaggiamento.name}}</td>
    <td>{{equipaggiamento.upgrades}}</td>
    <td>{{equipaggiamento.type}}</td>
    <td>
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let attacco of equipaggiamento.attacchi">
          <td>
        <tr style="color:brown">{{attacco.type}}</tr>
        <b>
          <tr style="color:darkorange" *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
          <tr style="color:black" *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
          <tr style="color:blue" *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
        </b>
        </td>
        </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let difesa of equipaggiamento.difese">
          <td>
        <tr style="color:darkgreen">{{difesa.type}}</tr>
        <b>
          <tr style="color:darkorange" *ngIf="difesa.combination.ORANGE">{{"ORANGE:"+difesa.combination.ORANGE}}</tr>
          <tr style="color:black" *ngIf="difesa.combination.BLACK">{{"BLACK:"+difesa.combination.BLACK}}</tr>
          <tr style="color:blue" *ngIf="difesa.combination.BLUE">{{"BLUE:"+difesa.combination.BLUE}}</tr>
        </b>
         </td>
        </tr>
        </tbody>
      </table>
    </td>
    </tbody>
  </table>
</div>
  <div class="row">
<h2>Titaniti Usate</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Tipo Titanite</th>
    <th>Available</th>
    <th>Looted</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let titanite of equipaggiamento.equippedTitaniti">
    <td>{{titanite.diceColor}}</td>
    <td>{{titanite.available}}</td>
    <td>{{titanite.looted}}</td>
    <td><button  class="btn btn-danger" (click)="Rimuovi(titanite)">Rimuovi</button></td>
  </tr>
  </tbody>
</table>
  </div>
<button class="btn btn-success" (click)="TornaRiepilogoEquipaggiamenti()">TornaRiepilogoEquipaggiamenti</button>
</div>
</div>

