<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Dice Combination</th>
          <th>Stamina cost</th>
          <th>Stamina Personggio</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attaccoOfArma of listaAttaccoOfArma">
          <td>{{attaccoOfArma.arma.name}}</td>
          <td>
            <b>
              <tr style="color:darkorange" *ngIf="attaccoOfArma.attacco.combination.ORANGE">{{"ORANGE x"+attaccoOfArma.attacco.combination.ORANGE}}</tr>
              <tr style="color:black" *ngIf="attaccoOfArma.attacco.combination.BLACK">{{"BLACK x"+attaccoOfArma.attacco.combination.BLACK}}</tr>
              <tr style="color:blue" *ngIf="attaccoOfArma.attacco.combination.BLUE">{{"BLUE x"+attaccoOfArma.attacco.combination.BLUE}}</tr>
            </b>
           </td>
         <td>{{attaccoOfArma.attacco.staminaCost}}</td>
        <td>{{statoPersonaggio.stamina+'/'+statoPersonaggio.personaggioBase.stamina_base}}</td>
        <td *ngIf="attaccoOfArma.attacco.staminaCost <= statoPersonaggio.stamina, else staminanonsuffciente">
          <button type="button" class="btn btn-danger" (click)="Usa(attaccoOfArma)">Usa</button>
        </td>
        <ng-template #staminanonsuffciente>
          <td style="color:red">Non hai abbastanza stamina</td>
        </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6">
    <button type="button" class="btn btn-success" (click)="TornaAdIncontro()">TornaAdIncontro</button>
  </div>
</div>
