<div class="container">
  <div class="col">
  <div class="row">
      <h2>Riepilogo Equipaggiati</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>BodyPartsRequirements</th>
        <th>Throwable dice</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipaggiamento of statoPersonaggio.equipaggiati">
        <td>{{equipaggiamento.name}}</td>
        <td>{{equipaggiamento.type}}</td>
        <td>{{equipaggiamento.bodyPartRequirement.bodyPartType+" : "+equipaggiamento.bodyPartRequirement.numberbodyPart}}</td>
        <td>
          <table class="table table-striped">
            <tbody>
            <tr *ngFor="let attacco of equipaggiamento.attacchi">
              <td>
            <tr style="color:red">{{attacco.type}}</tr>
            <b>
              <tr style="color:darkorange" *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
              <tr style="color:black" *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
              <tr style="color:blue "*ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
            </b>
            </td>
            </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <tbody>
            <tr *ngFor="let difesa of equipaggiamento.difese">
              <td>
            <tr style="color:red">{{difesa.type}}</tr>
            <b>
              <tr style="color:darkorange" *ngIf="difesa.combination.ORANGE">{{"ORANGE:"+difesa.combination.ORANGE}}</tr>
              <tr style="color:black" *ngIf="difesa.combination.BLACK">{{"BLACK:"+difesa.combination.BLACK}}</tr>
              <tr style="color:blue" *ngIf="difesa.combination.BLUE">{{"BLUE:"+difesa.combination.BLUE}}</tr>
            </b>
             </td>
             </tr>
            </tbody>
          </table>
        <td>
          <button class="btn btn-dark" (click)="Disequipaggia(equipaggiamento)">Disequipaggia</button>
        </td>
      </tr>
        </tbody>
      </table>
    </div>
<div class="row">
<h2>Riepilogo Equipaggiabili</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>BodyPartsRequirements</th>
    <th>Throwable dice</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let equipaggiamento of equipaggiabili">
    <td>{{equipaggiamento.name}}</td>
    <td>{{equipaggiamento.type}}</td>
    <td>{{equipaggiamento.bodyPartRequirement.bodyPartType+" : "+equipaggiamento.bodyPartRequirement.numberbodyPart}}</td>
    <td>
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let attacco of equipaggiamento.attacchi">
          <td>
        <tr style="color:red">{{attacco.type}}</tr>
        <b>
          <tr style="color:darkorange" *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
          <tr style="color:black" *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
          <tr style="color:blue" *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
        </b>
        </td>
        </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let difesa of equipaggiamento.difese">
          <td>
        <tr style="color:red">{{difesa.type}}</tr>
        <b>
          <tr style="color:darkorange" *ngIf="difesa.combination.ORANGE">{{"ORANGE:"+difesa.combination.ORANGE}}</tr>
          <tr style="color:black" *ngIf="difesa.combination.BLACK">{{"BLACK:"+difesa.combination.BLACK}}</tr>
          <tr style="color:blue" *ngIf="difesa.combination.BLUE">{{"BLUE:"+difesa.combination.BLUE}}</tr>
        </b>
        </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td><button class="btn btn-danger" (click)="Equipaggia(equipaggiamento)">Equipaggia</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
  <div class="row">
    <h2>Riepilogo Non Equipaggiabili</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>BodyPartsRequirements</th>
        <th>Throwable dice</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipaggiamento of nonEquipaggiabili">
        <td>{{equipaggiamento.name}}</td>
        <td>{{equipaggiamento.type}}</td>
        <td>{{equipaggiamento.bodyPartRequirement.bodyPartType+" : "+equipaggiamento.bodyPartRequirement.numberbodyPart}}</td>
        <td>
          <table class="table table-striped">
            <tbody>
            <tr *ngFor="let attacco of equipaggiamento.attacchi">
              <td>
            <tr style="color:red">{{attacco.type}}</tr>
            <b>
              <tr style="color:darkorange" *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
              <tr style="color:black" *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
              <tr style="color:blue" *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
            </b>
            </td>
            </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <tbody>
            <tr *ngFor="let difesa of equipaggiamento.difese">
              <td>
            <tr style="color:red">{{difesa.type}}</tr>
            <b>
              <tr style="color:darkorange" *ngIf="difesa.combination.ORANGE">{{"ORANGE:"+difesa.combination.ORANGE}}</tr>
              <tr style="color:black" *ngIf="difesa.combination.BLACK">{{"BLACK:"+difesa.combination.BLACK}}</tr>
              <tr style="color:blue" *ngIf="difesa.combination.BLUE">{{"BLUE:"+difesa.combination.BLUE}}</tr>
            </b>
            </td>
            </tr>
            </tbody>
          </table>
      </tr>
      </tbody>
    </table>
  </div>
<button class="btn btn-success" (click)="TornaIndietro()">TornaIndietro</button>
</div>
</div>
