<div class="col-md-6">
  <h2>Equipaggiato Selezionato</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <!--th class="hidden">Id<th-->
      <th>Name</th>
      <th>Type</th>
      <th>Weight</th>
      <th>Dice throwable</th>
      <!--th>attacchi</th>
    <th>difese</th-->
    </tr>
    </thead>
    <tbody>
    <td>{{this.equipaggiamentoDaCambiare.value.name}}</td>
    <td>{{this.equipaggiamentoDaCambiare.value.type}}</td>
    <td>{{this.equipaggiamentoDaCambiare.value.weight}}</td>
    <td>
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let attacco of this.equipaggiamentoDaCambiare.value.attacchi; let i = index">
          <td>
        <tr style="color:red">{{"Attacco "+(i+1)}}</tr>
        <tr *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
        <tr *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
        <tr *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
        </td>
        </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let attacco of this.equipaggiamentoDaCambiare.value.difese; let i = index">
          <td>
        <tr style="color:red">{{"Difesa "+(i+1)}}</tr>
        <tr *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
        <tr *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
        <tr *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
        </td>
        </tr>
        </tbody>
      </table>
    </td>
    </tbody>
  </table>
  <h2>Riepilogo Equipaggiabili</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Weight</th>
      <th>Throwable dice</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let equipaggiamento of equipaggiamenti">
      <td>{{equipaggiamento.name}}</td>
      <td>{{equipaggiamento.type}}</td>
      <td>{{equipaggiamento.weight}}</td>
      <td>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let attacco of equipaggiamento.attacchi; let i = index">
            <td>
          <tr style="color:red">{{"Attacco "+(i+1)}}</tr>
          <tr *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
          <tr *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
          <tr *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
          </td>
          </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let attacco of equipaggiamento.difese; let i = index">
            <td>
          <tr style="color:red">{{"Difesa "+(i+1)}}</tr>
          <tr *ngIf="attacco.combination.ORANGE">{{"ORANGE:"+attacco.combination.ORANGE}}</tr>
          <tr *ngIf="attacco.combination.BLACK">{{"BLACK:"+attacco.combination.BLACK}}</tr>
          <tr *ngIf="attacco.combination.BLUE">{{"BLUE:"+attacco.combination.BLUE}}</tr>
          </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td><button class="btn btn-danger" (click)="Scambia(this.equipaggiamentoDaCambiare.value.id,equipaggiamento.id)">Scambia</button></td>
    </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-success" (click)="TornaACambiaEquipaggiamento()">TornaACambiaEquipaggiamento</button>
