<div class="container">
  <div class="col">
    <div class="row">
    <h2>ID Incontro : {{this.descrittoreIncontro.id}}</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>HP</th>
          <th>Speed</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let nemicoWrapper of descrittoreIncontro.nemiciWrappers">
          <td>{{nemicoWrapper.descrittoreNemico.nome}}</td>
          <td>{{nemicoWrapper.numberNemici}}</td>
          <td>{{nemicoWrapper.descrittoreNemico.hp}}</td>
          <td>{{nemicoWrapper.descrittoreNemico.velocita}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  <button class="btn btn-success" (click)="AvviaIncontro()">AvviaIncontro</button>
 </div>
</div>
